[nextcloud]
backend = auto
enabled = true
port = {{ http_port }},{{ https_port }}
protocol = tcp
filter = nextcloud
maxretry = 3
bantime = 36000
findtime = 36000
logpath = {{ data_dir }}/nextcloud.log